<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mohit.tpomnnit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/imagee"
        android:label="TPOMNNIT"
        android:roundIcon="@drawable/mnnit"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".login_signup.MainActivity" />
        <activity android:name=".login_signup.Login" />
        <activity android:name=".Landing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.NotificationService"
            android:enabled="true" />

        <activity
            android:name=".student.StudentProfile"
            android:label="@string/title_activity_student_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login_signup.TpoLogin"
            android:label="@string/title_activity_tpo_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login_signup.TpoSignup"
            android:label="Tpo Signup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".tpo.TpoHome"
            android:label="@string/title_activity_tpo_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".student.profile.MyProfile" />
        <activity android:name=".student.profile.SectionsPageAdapter" />
        <activity android:name=".student.profile.Tab1Fragment" />
        <activity android:name=".student.profile.Tab2Fragment" />
        <activity android:name=".student.profile.Tab3Fragment" />
        <activity android:name=".tpo.AddCompany" />
        <activity
            android:name=".student.company.CompanyStudent"
            android:label="@string/title_activity_company_student"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".student.InterviewExperience.interviewexperience" />
        <activity android:name=".student.InterviewExperience.AddInterviewExperience" />
        <activity android:name=".tpo.VerifyUser" />
        <activity android:name=".tpo.StudentFilter" />
        <activity android:name=".tpo.MessageTpo" />
        <activity android:name=".tpo.ManageStudents" />
        <activity android:name=".charts.PointerChart" />
        <activity android:name=".tpo.UpdateCompany"></activity>
    </application>

</manifest>