<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mohit.tpomnnit">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/mnnitlogo"
        android:label="TPOMNNIT"
        android:roundIcon="@mipmap/mnnitlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".Login" />
        <activity android:name=".Landing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StudentProfile"
            android:label="@string/title_activity_student_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TpoLogin"
            android:label="@string/title_activity_tpo_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TpoSignup"
            android:label="Tpo Signup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TpoHome"
            android:label="@string/title_activity_tpo_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MyProfile" />
        <activity android:name=".SectionsPageAdapter" />
        <activity android:name=".Tab1Fragment" />
        <activity android:name=".Tab2Fragment" />
        <activity android:name=".Tab3Fragment" />
        <activity android:name=".AddCompany" />

    </application>

</manifest>